<!DOCTYPE html>
{% load cms_tags staticfiles sekizai_tags menu_tags compress i18n %}
{% get_current_language as language_code %}
<html lang="{{ language_code }}">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Denis Samardjiev" />
    <meta name="description" content="Raleway | Mega Bootstrap Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ STATIC_URL }}favicon_feather_sm.png" rel="shortcut icon" type="image/x-icon" />
    <title>{% block page_title %}{{ request.site.name }}{% endblock page_title %}</title>

    <!-- Royal Preloader CSS -->
    <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/royal_preloader.css"-->

    <!-- jQuery Files -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Royal Preloader -->
    <!--script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/royal_preloader.min.js"></script-->

    {% compress css %}
    <!-- Stylesheets -->
    <link href="{{ STATIC_URL }}Raleway/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/bootstrap-social.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/animate.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/owl.carousel.css" rel="stylesheet" >
    <link href="{{ STATIC_URL }}Raleway/css/jquery.snippet.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/buttons.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}Raleway/css/customizations.css" rel="stylesheet">
    <!-- Style Switcher / remove for production -->
    <!--link href="{{ STATIC_URL }}Raleway/css/style-switcher.css" rel="stylesheet"-->

    <!-- Alternate Stylesheets / choose what color you want and include regularly AFTER style.css above -->
    <!--link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/blue.css" title="blue">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/green.css" title="green">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/purple.css" title="purple">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/red.css" title="red">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/silver.css" title="silver">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/pinkish.css" title="pinkish">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/colors/seagul.css" title="seagul">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/width-full.css" title="width-full">
    <link rel="stylesheet" href="{{ STATIC_URL }}Raleway/css/colors/pinkish.css" title="pinkish">
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}Raleway/css/width-boxed.css" title="width-boxed"-->

    <!--link rel="stylesheet" href="{{ STATIC_URL }}Raleway/css/colors/dark-blue.css"-->

    <!-- Icon Fonts -->
    <link href='{{ STATIC_URL }}Raleway/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link href='{{ STATIC_URL }}Raleway/css/font-awesome.css' rel='stylesheet' type='text/css'>

    <!-- Magnific Popup -->
    <link href='{{ STATIC_URL }}Raleway/css/magnific-popup.css' rel='stylesheet' type='text/css'>
    {% endcompress %}

    {% render_block "css" %}

</head>
<body class="scrollreveal">

    {% cms_toolbar %}

    <!-- Begin Boxed or Fullwidth Layout -->
    <div id="bg-boxed">
        <div class="boxed">

            <!-- Begin Header -->
            <header>
            {%  include "bases/header.html" %}
            </header><!-- /header -->
            <!-- End Header -->

            <!-- Begin Content Section -->
            <section class="mt40 mb40">
                <div class="container">
                {% block content %}{% endblock content %}
                </div>
            </section><!-- /content -->
            <!-- End Content Section -->

            <!-- Begin Footer -->
            <footer class="footer-light">
            {%  include "bases/footer.html" %}
            </footer><!-- /footer -->
            <!-- End Footer -->

        </div><!-- /boxed -->
    </div><!-- /bg boxed-->
    <!-- End Boxed or Fullwidth Layout -->


    {% compress js %}
    <!-- Javascript Files -->
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/scrollReveal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/jquery.snippet.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/jquery.fitvids.js"></script>
    <!--script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/style-switcher.js"></script--><!-- Remove for production -->
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/activate-snippet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/skrollr.min.js"></script>
    <!-- Main Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}Raleway/js/main.js"></script>
    {% endcompress %}

    {%  comment %}
    <!-- On Scroll Animations - scrollReveal.js -->
    <script>
        var srConfig = {
        easing: 'hustle',
        mobile:  true,
        delay:  'onload'
        }
        window.sr = new scrollReveal(srConfig);
    </script>
    {% endcomment %}

    {% render_block "js" %}

</body>
</html>


