{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% comment %}
<!-- Begin Top Bar -->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <!-- Address and Phone -->
            <div class="col-sm-7 hidden-xs">
                <span class="ion-android-system-home home-icon"></span>Bright Passage, Fond du Lac, 63138 USA<span class="ion-ios7-telephone phone-icon"></span>1702983921
            </div>
            <!-- Social Buttons -->
            <div class="col-sm-5 text-right">
                <ul class="topbar-list list-inline">
                    <li>
                        <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li><li><a data-toggle="modal" data-target="#login">Login</a></li><li><a href="pages-forms-register-login.html">Register</a></li>
                </ul>
            </div>
        </div><!--/row -->
    </div><!--/container header -->
</div><!--/top bar -->
<!-- End Top Bar -->

<!-- Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Do you flex?
                        </label>
                    </div>
                </form><!-- /form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rw btn-primary">Login</button>
            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->
<!-- End Login -->
{% endcomment %}


<!-- Begin Navigation -->
<div class="navbar-wrapper">
    <div class="navbar navbar-main" id="fixed-navbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 column-header">
                    <div class="navbar-header">
                        <!-- Brand -->
                        {% comment %}
                        <a href="index.html" class="navbar-brand">
                            <div class="css-logo"></div> <img src="images/logo.png" class="raleway-logo" alt="">
                        </a>
                        {% endcomment %}
                        <!-- Mobile Navigation -->
                        <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button-->
                    </div><!-- /navbar header -->

                    <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                        {% show_menu 0 1 100 100 "bases/top_menu.html" %}
                        </ul>
                    </nav><!-- /nav -->
                </div>
            </div>
        </div><!-- /container header -->
    </div><!-- /navbar -->
</div><!-- /navbar wrapper -->
<!-- End Navigation -->

<!-- Begin Page Header -->
<div class="header">
    <div class="container">
        <div class="row">
            <!-- Page Title -->
            <div class="col-sm-6 col-xs-12">
                <h1>Tikami Philosophy</h1>
            </div>

            <!-- Breadcrumbs -->
            <div class="col-sm-6">
                <ol class="breadcrumb">
                {% show_breadcrumb "bases/breadcrumb.html" %}
                </ol
            </div><!-- /column -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /page header -->
