{% extends "bases/base_cms.html" %}
{% load cms_tags page_tags i18n %}

{% block content %}
{{ block.super }}
<div class="row">

    <!-- Sidebar -->
    <div class="col-sm-3">
        <div class="content-box content-box-bordered mt30-xs mb30">
            {% placeholder "intro" %}
        </div>

        {% include "bases/siblings_menu.html" %}

        {#% UNUSED ATM - include_title_tags request.current_page %#}

        <div class="twitter-feeds mt40 mb40">
            {% static_placeholder 'twitter-feeds' %}
        </div>
    </div>

    <!-- Blog Posts -->
    <div class="col-sm-9">
        <div class="blog-post mb40">
            <div class="view image-hover-1 no-margin img-responsive-wrapper">
                <!-- Blog Thumb -->
                {% placeholder "illustration" %}
                <!--img alt="..." src="https://static.pexels.com/photos/35094/pexels-photo.jpg" class="img-responsive" style="max-height: 100px"-->
                {% comment %}
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a class="info image-zoom-link" href="https://static.pexels.com/photos/35094/pexels-photo.jpg">
                            <div class="image-icon-holder"><span class="ion-ios7-search image-icons"></span></div>
                        </a>
                        <a class="info" href="{% page_url request.current_page %}">
                            <div class="image-icon-holder"><span class="ion-link image-icons"></span></div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
                {% endcomment %}
            </div><!-- /image hover -->
            <div class="blog-post-holder">
                <ul class="list-inline posted-info">
                    {% page_attribute "changed_date" as changed_date %}
                    <li>{% trans "Last edited:" %} {{ changed_date|date:"SHORT_DATE_FORMAT" }}</li>
                </ul>
                <hr align="left" style="width:50px;" class="mt15 mb10">

                <h1>{% page_attribute "title" %}</h1>

                {% placeholder "content" %}
                {# <a class="btn btn-rw btn-primary mt10" href="#">Read more</a> #}
                <div class="disqus-comments mt40">
                    {% static_placeholder 'disqus-comments' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
