body {
    font: normal 15px 'Open Sans', sans-serif;
    color: #353131;
}

div.document {
    margin-bottom: 20px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
    text-transform: inherit;
}

h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 300;
    text-transform: inherit;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 200;
    text-transform: inherit;
}

.btn-email{
    color:#fff;
    background-color:#3f729b;
}

.navbar {
    font-size:18px;
    font-weight:600;
}

.navbar.navbar-main ul.nav a {
    color:#4F4F4F;
}

.navbar .dropdown-menu {
    font-size:14px;
}

.fa.dropdown-arrow {
    padding-left:2px;
    color:#4F4E4E;
    font-weight:bold !important;
}

.navbar-toggle {
    margin-top: 24px;
}

.document p {
    text-indent: 15px;
}

div.document {
    text-align: justify;
}

.rubric {
    font-weight: bold;
    margin-top: 20px;
}

.introduction {
    font-weight: bold;
}

.conclusion {
    margin-top: 30px;
    font-weight: bold;
}

.conclusion + .conclusion {
    margin-top: 0;
}

.bold-text {
    font-weight: bold;
}


.footnote, .footnotes {
    margin-top: 35px;
    font-size: 0.8em;
}
.footnotes ~ .footnotes, .footnote ~ .footnote {
    margin-top: 5px;  /* dirty hack - we abort margin for non-first footnotes */
}

table.footnote {
    width: auto !important;
    margin: 5px 0 !important;
}

table.footnote  th, table.footnote  td {
    border: none !important;
}



table.docutils.footnote {
    margin: 0;
    width: auto;
    font-size: 90%;
}
table.docutils.footnote td {
    border: none;
}
table.docutils.footnote .label {
    width: 30px;
    display: table-cell;
}

ul.simple {
    list-style-type: none;
}

ul.simple li {
    margin: 2px 0;
    text-indent: -1em;
}

ul.simple li:before {
    font-family: FontAwesome;
    content: "\f0a9";
    float: left;
    color: #00B7EB;
    width: 1.8em;
    line-height: 1em;
    font-size: 0.7em;
    margin-top: 5px;
}

.img-responsive-wrapper img {
    width: 100%;
}

.filer_image {
    margin: 3px;
}

img.left {
    float: left;
}

img.right {
    float: right;
}

img.center {
    display: block;
    margin: auto;
}

.filer_image_info {
    display: none;
}

blockquote {
    color: #585858;
    font-size: 15px;
}

blockquote.pull-quote {
    float: left;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin: 10px 20px 10px 0;
    max-width: 300px;
}

blockquote .attribution {
    font-style: italic;
}

table.docutils {
    width: 100%;
    margin: 10px 0px 15px;
}

table.docutils th, table.docutils td {
    padding: 4px;
    border: 1px solid #d2d2d2;
}

dt {
    margin-top: 20px;
}

dd {
    margin-left: 20px;
}

.system-message {
    border: 1px dotted red;
    margin: 8px 0;
}

.twitter-feeds {
    padding: 1px; /* else bugs with borders on chrome... */
    border: 1px solid rgba(15, 70, 100, 0.12)
}
